@import './base/mixins';
@import '/src/components/navbar/index.scss';
@import '/src/components/layout/index.scss';
@import '/src/components/card/index.scss';
@import '/src/screens/login/index.scss';
@import '/src/screens/companies/index.scss';

html {
    font-family: 'Roboto', sans-serif;
}

:root {
    --gray: #72757E;
    --blue: #3C37FF;
    --blue-over: #DDE2EC;
}

* {
    margin: 0;
    padding: 0;
}

input,
button {
    background: none;
    outline: none;
    border: none;
}